/*-- CSS style sheet for Jacob Collins --*/

/*-- Global Styles --*/

body {
	background: #000000 url(../images/dark-spade.png);
	width: 100%;
	font-size: 100%;
    margin: 0 auto;
	}

#boxcontainer {
	background-color: #ffffff;
	width:75%;
	margin: 0 auto;
	padding-right: 2%;
	border-radius: 25px;
    overflow: scroll;
		}

#boxcontainer .floatleft {
    float: left;
    width: 55%;
    padding-left: 4.2%;

}

#header {
	font-family: 'Amatic SC', cursive;
	color: #990000;
	text-shadow: 2px 2px #000000;
	font-size: 3.2em;
	margin-top:0;
	margin-bottom:0;
	}

nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

nav li {
    display: inline-block;
    padding-bottom: 2em;
    
    }

a:link {
	color: #003300;
	text-decoration: none;
	}

a:visited {
	color: #660066;
	text-decoration: none;
	}

a:hover {
	color: #FF3300;
	text-decoration: none;
	cursor: pointer;
	}

a:active {
	color: #FF3300;
	text-decoration: none;
	cursor: pointer;
	}



#para1, #para2, #parahistory, #parainfluence, #parainfluence2 {
	text-indent: 50px;
	color: #565658;
	font-weight: normal;
	font-style: normal;
	line-height: 110%;
	}

#note {
	color: #ffffff;
	background-color: #990000;
	border: 5px solid #000000;
	padding-top: 5px;
	padding-bottom:5px;
	margin-left:30px;
	margin-right: 30px;
	box-shadow:5px 8px 10px #000000;
	}

li {
	list-style-type: upper-roman;
	}

ol {
	padding-left: 50px;
	}

figure {
    display: inline-block;

    position: relative;
	opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
	}

figure #gradient{
    width:100%;
    position: relative;
    margin: 0 auto;
}

figure:hover{
	opacity: 1.0;
	}

#disclaimer {
	padding-left:40px;
    padding-bottom: 2em;
    clear: left;
		}

h1{
    text-align: center;
}

h2 {
	font-family: 'Special Elite', cursive;
	color: #990000;
    padding-top: 2%;
	}

h2 .hatchet{

}

h3 {
		font-family: 'Special Elite', cursive;
}

#gradient{
    background: linear-gradient(#f0b7a1, #bf6e4e);
    float: right;
    width: 30%;
    min-width: 30%;
    position: relative;
    border-radius: 25px;
    margin: 0 auto;
    padding-left: 10%;
}

#gallery{
    padding-left:18%;
    padding-bottom: 8%;
}

.hatchet{
    background: url(../images/Hatchet.png) no-repeat;
    width: 32px;
    height: 32px;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-left:10%;
    margin: auto 0;

}

#history, #influences{
    padding-top: 28%;
    padding-left:10%;
    margin: auto 0;
}