/*-- CSS style sheet for Jacob Collins --*/

/*-- Global Styles --*/

body {
	background-color: #000000;
	width: 100%;
	font-size: 100%;
	}

#boxcontainer {
	background-color: #ffffff;
	width:75%;
	margin: 0 auto;
	padding: 0;
	}

#header {
	font-family: 'Amatic SC', cursive;
	color: #990000;
	text-shadow: 2px 2px #000000;
	font-size: 3.2em;
	}

nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

nav li {
    display: inline-block;
    }

#navigation a, a:visited {

    position: relative;

    width: 160px;

    height: 30px;

    padding: 5px 30px 8px;

    margin-right: 30px;

    -webkit-border-radius: 0 0 5px 5px;

    -moz-border-radius: 0 0 5px 5px;

    border-radius: 0 0 5px 5px;

    color: #ffffff;

    background-color: #5F5F5F;

    box-shadow: 0 3px #444444;

    text-decoration: none;



}



#navigation a:active {

    box-shadow: 0 0 #444444;

    padding: 8px 30px 8px;

    top: 3px;

}



#navigation a:hover {

    color: #ffffff;

    background-color: #A0A0A0;

}
