/*-- CSS style sheet for Jacob Collins --*/

/*-- Global Styles --*/

body {
	background-color: #000000;
	width: 100%;
	font-size: 100%;
	}

#boxcontainer {
	background-color: #ffffff;
	width:75%;
	margin: 0 auto;
	padding: 0;
	}

#header {
	font-family: 'Amatic SC', cursive;
	color: #990000;
	text-shadow: 2px 2px #000000;
	font-size: 4.2em;
	}